.page-holder{
    position: absolute;
    height: 96vh;
    aspect-ratio: 210/297;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.page{
    background: white;
    height: 100%;
    width: 100%;
    padding: 20px;
    &:hover .scaler{
        opacity: 1;
    }
}

.name {
    font-size: 8em;
    width: 100%;
    text-align: center;
    font-weight: 200;
}

.tech{
    padding: 0.5em;
    font-weight: 500;
    margin-right: 0.7em;
    margin-bottom: 0.7em;
    background-color: #cdefff;
    border-radius: 2px;
}

.circle{
    width: 1em;
    height: 1em;
    margin: 4px;
    opacity: 0.2;
    border-radius: 100%;
    &.positive{
        opacity: 1;
    }
}